.cont_central{
    position: relative;
    width: 65vw;
    min-width: 812px;
    height: 100vh;
    margin: auto;
    background-color: white;
}
.cont_fondo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    min-width: 1250px;
    background-color: #7300BB7A;
    backdrop-filter: blur(5px);
    z-index: -1
}
.cont_cabecera{
    position: absolute;
    width: 65vw;
    min-width: 812px;
    height: 7.5vw
}
.cont_siglas{
    position: absolute;
    width: 18vw;
    height: 7.5vw
}
.cont_titulo1{
    position: absolute;
    left: 18vw;
    width: 25vw;
    height: 3.75vw;
}
.cont_titulo2{
    position: absolute;
    left: 18vw;
    top: 3.75vw;
    width: 25vw;
    height: 3.75vw;
}
.cont_logo{
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
}
#cont_logo_1{
    right: 1vw;
}
#cont_logo_2{
    right: 8.5vw;
}
.cont_map{
    position: absolute;
    left: 1.5vw;
    top: 8.5vw;
    width: 40vw;
    min-width: 500px;
    height: 40vw;
    min-height: 500px;
    border-radius: 9px;
    box-shadow: 0px 0px 6px 1px #7300BB7A;
}
.cont_ley_oculto{
    position: absolute;
    width: 9vw;
    min-width: 100px;
    height: 15vw;
    min-height: 160px;
    right: 1vw;
    bottom: 2vw;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 1px #7300BB7A;
    z-index: 20000;
    transform: translateX(200%);
    transition: transform 0.5s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cont_ley{
    position: absolute;
    width: 9vw;
    min-width: 100px;
    height: 15vw;
    min-height: 160px;
    right: 1vw;
    bottom: 2vw;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 1px #7300BB7A;
    z-index: 20000;
    transform: translateX(0%);
    transition: transform 0.5s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cont_herramientas{
    position: absolute;
    right: 1.5vw;
    top: 8.5vw;
    height: 40vw;
    min-height: 500px;
    width: 20vw;
    min-width: 275px;
}
.cont_salidas{
    position: absolute;
    left: 0;
    top: 13.8%;
    height: 87%;
    width: 20vw;
    min-width: 275px;
    background-image: linear-gradient(0deg,#3D0044,#7300BB );
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cont_mt_oculto{
    position: absolute;
    top: 15%;
    height: 80%;
    width: 16vw;
    min-width: 250px;
    background-color: #FFFFFF00;
    border-radius: 9px;
    border: solid 0.5px white;
    overflow: hidden;
    transform: translateX(-150%);
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cont_mt{
    position: absolute;
    top: 15%;
    height: 80%;
    width: 16vw;
    min-width: 250px;
    background-color: #FFFFFF00;
    border-radius: 9px;
    border: solid 0.5px white;
    overflow: hidden;
    transform: translateX(0%);
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
}
.cont_mt::-webkit-scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: #3D0044; /* Color del "pulgar" de la barra */
    border-radius: 9px; /* Bordes redondeados del "pulgar" */
}
.cont_mt::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    background-color: white; /* Color del "pulgar" de la barra */
    border-radius: 9px; /* Bordes redondeados del "pulgar" */
}
.cont_gs_oculto{
    position: absolute;
    top: 15%;
    height: 80%;
    width: 16vw;
    min-width: 250px;
    background-color: #FFFFFF00;
    border-radius: 9px;
    border: solid 0.5px white;
    overflow: hidden;
    transform: translateX(-150%);
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cont_gs{
    position: absolute;
    top: 15%;
    height: 80%;
    width: 16vw;
    min-width: 250px;
    background-color: #FFFFFF00;
    border-radius: 9px;
    border: solid 0.5px white;
    overflow: hidden;
    transform: translateX(0%);
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
}
.cont_gs::-webkit-scrollbar-thumb {
    background-color: #3D0044; /* Color del "pulgar" de la barra */
    border-radius: 9px; /* Bordes redondeados del "pulgar" */
}
.cont_gs::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    background-color: white; /* Color del "pulgar" de la barra */
    border-radius: 9px; /* Bordes redondeados del "pulgar" */
}
.cont_md_oculto{
    position: absolute;
    top: 15%;
    height: 80%;
    width: 16vw;
    min-width: 250px;
    background-color: #FFFFFF00;
    border-radius: 9px;
    border: solid 0.5px white;
    overflow: hidden;
    transform: translateX(-150%);
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cont_md{
    position: absolute;
    top: 15%;
    height: 80%;
    width: 16vw;
    min-width: 250px;
    background-color: #FFFFFF00;
    border-radius: 9px;
    border: solid 0.5px white;
    overflow: hidden;
    transform: translateX(0%);
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
}
.cont_md::-webkit-scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: #3D0044; /* Color del "pulgar" de la barra */
    border-radius: 9px; /* Bordes redondeados del "pulgar" */
}
.cont_md::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    background-color: white; /* Color del "pulgar" de la barra */
    border-radius: 9px; /* Bordes redondeados del "pulgar" */
}
