.cabecera{
    position: relative;
    margin: 0 auto;
    font-family: 'Segoe UI';
    background-image: linear-gradient(45deg, #3D0044, #7300BB );
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
}
.cabecera2{
    position: relative;
    bottom: 0;
    font-family: 'Segoe UI';
    background-image: linear-gradient(45deg, #7300BB, #3D0044 );
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}
.cabecera3{
    position: relative;
    margin: 0;
    font-family: 'Segoe UI';
    background-image: linear-gradient(45deg, #7300BB, #3D0044 );
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}
#siglas{
    font-size: 5.3vw;
}
#titulo1{
    font-size: 2vw;
}
.p_intro{
    position: absolute;
    font-family: 'Segoe UI';
    color: white;
    transform: translateX(0%);
    transition: transform 0.5s ease;
}
.texto_intro_oculto {
    position: relative;
    margin: 0 auto;
    font-family: 'Segoe UI';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(-300%);
    transition: transform 0.5s ease;
}
#intro_titulo{
    top: 10%;
    font-size: 3vw;
}
#intro_parrafo{
    top: 30%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5vw;
}
.p_titulo_herramienta_oculto{
    position: absolute;
    top: 2%;
    font-family: 'Segoe UI';
    color: white;
    transform: translateX(-300%);
    transition: transform 0.5s ease;
}
.p_titulo_herramienta{
    position: absolute;
    top: 2%;
    font-family: 'Segoe UI';
    color: white;
    transform: translateX(0%);
    transition: transform 0.5s ease;
}
.p_mapas_tematicos_oculto{
    position: absolute;
    left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    color: white;
    transform: translateX(-300%);
    transition: transform 0.5s ease;
}
.p_mapas_tematicos{
    position: absolute;
    left: 5%;
    text-align: left;
    font-family: 'Segoe UI';
    color: white;
    transform: translateX(0%);
    transition: transform 0.5s ease;
}
#uso_suelo{
   top: 15%; 
}
#gestion_riesgo{
    top: 30%
}
#biodiversidad{
    top: 45%
}
#cambio_climatico{
    top: 60%
}
.titulo_gs{
    position: absolute;
    font-size: 90%;
    top: 0;
    margin: 0;
    font-family: 'Segoe UI';
    color: white;
}
#wms{
    left: 60%;
}
#wfs{
    left: 80%; 
}
.subtitulo_gs{
    position: absolute;
    margin: 0;
    font-size: 90%;
    font-family: 'Segoe UI';
    color: white;   
}
.p_gs{
    position: absolute;
    margin: 0;
    font-size: 75%;
    font-family: 'Segoe UI';
    color: white;
}
#cat{
    top: 5%;
    left: 2%; 
}
#zr{
    top: 12%;
    left: 10%; 
}
#zu{
    top: 18%;
    left: 10%; 
}
#ter{
    top: 24%;
    left: 10%; 
}
#con{
    top: 30%;
    left: 10%; 
}
#bio{
    top: 37%;
    left: 2%; 
}
#re{
    top: 44%;
    left: 10%; 
}
#ap{
    top: 50%;
    left: 10%; 
}
#ec{
    top: 56%;
    left: 10%; 
}
#cc{
    top: 63%;
    left: 2%;
}
#eh{
    top: 70%;
    left: 10%; 
}
#pt{
    top: 76%;
    left: 10%; 
}
#h{
    top: 83%;
    left: 10%; 
}
#s{
    top: 90%;
    left: 2%; 
}
#us{
    top: 97%;
    left: 10%; 
}
#gr{
    top: 104%;
    left: 3%; 
}
#in{
    top: 111%;
    left: 10%; 
}
#za{
    top: 117%;
    left: 10%; 
}